.d3slider {
  z-index: 2;
  height: 100%;
  background: none;
}

.d3slider-rect-range {
  fill: rgba(210, 210, 255, .4);
  stroke:none;
}

.d3slider-rect-value {
  fill: #006EE3;
  stroke: none;
}

.d3slider-axis {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.d3slider-axis path {
  display: none;
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3slider-axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.d3slider text {
  fill: rgba(210, 210, 255, 1);
  font-size: 10px;
}

.tick.minor text {
  display: none;
}

.tick line {
  stroke-width: 1;
  stroke: rgba(210, 210, 255, .6);
}
.tick.minor line {
  stroke-width: 1;
  stroke: rgba(210, 210, 255, 1);
}

.dragger rect {
  fill: #71ACE3;
  stroke: none;
  z-index: 3;
}

.dragger line {
  stroke: #aa0000;
  fill: none;
}

.dragger-outer {
  fill: #fff;
  stroke: #000;
}

.dragger-inner {
  fill: rgba(210, 210, 255, 1);
  stroke: none;
}

.min-marker line {
  stroke: #aa0000;
  fill: none;
}

.overlay {
  fill: none;
  pointer-events: all;
  z-index: 1;
}

/*.tick > line {
  fill:rgba(0, 30, 64, 1);
}*/
.tick.major > text {
    text-anchor:middle; 
    dominant-baseline:central;
}
